---
layout: default
---

{% assign peaks = site.peaks | reverse  %}
{% for item in peaks %}
  {% if item.url == page.url %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = peaks[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = item %}
{% endfor %}

{% assign peak_data = site.data.peaks | where:"link", page.slug | first %}

<div class="pt-10 md:pt-40 md:w-9/12 md:ml-auto px-8 md:pl-0">
  <div class="overflow-hidden">
    <div class="text-slide-up anim-delay-500 flex items-center gap-2 relative z-10 mb-8 md:mb-0">
      <span>&lsaquo;</span>
      <a href="/peaks" class="underline nav-item">Peaks</a>
    </div>
  </div>
  <h1 class="font-display text-4xl md:text-6xl lg:text-7xl mb-4 lg:mb-8 pb-0 leading-none fade-down">{{ page.title }}</h1>
  <div class="overflow-hidden">
    <div class="text-base text-left no-underline font-sans mb-4 text-slide-up anim-delay-1000">
      {{ peak_data.date | date: "%d %B %Y" }}
      &nbsp;&bull;&nbsp;
      {{ peak_data.region }}
      &nbsp;&bull;&nbsp;
      {{ peak_data.distance | intcomma }}km
      &nbsp;&bull;&nbsp;
      {{ peak_data.ascent | intcomma }}m ascent
    </div>
  </div>
</div>


<div class="md:w-9/12 md:ml-auto px-8 md:pl-0 fade-static border-b border-t br-grey py-4 xl:py-8">
  <div class="overflow-hidden">
    <h2 class="meta text-slide-up anim-delay-200">Peaks</h2>
  </div>
  <ul class="flex flex-wrap gap-8 overflow-hidden pb-2">
    {% for peak in peak_data.peaks %}
      <li class="text-slide-up animate-stepped">
        <h3 class="text-xl font-bold mb-4">{{ peak.name }}</h3>
        {% if peak.category %}
        <span class="p-1 border br-orange c-orange">{{ peak.category | capitalize }}</span>
        {% endif %}
        <span class="p-1">{{ peak.elevation | intcomma }}m</span>
      </li>
    {% endfor %}
  </ul>
</div>


<div class="md:w-9/12 md:ml-auto md:pr-1/4 py-12 px-8 md:pl-0 fade-up anim-delay-500">
  <div class="max-w-prose">
    {{ content }}
  </div>
</div>

<div class="overflow-hidden animate-stepped flex flex-col gap-0 md:gap-8 xl:gap-16">
{% for group in page.images %}
  <div class="md:flex md:gap-8 xl:gap-16 fade-up">
   {% for image in group.images %}
    {% if group.images.size == 2 %}
      {% capture width %}900{% endcapture %}
      {% capture height %}600{% endcapture %}
    {% else %}
      {% capture width %}600{% endcapture %}
      {% capture height %}900{% endcapture %}
    {% endif %}
    <div class="w-full mb-1">
      {% include image.html url=image.url alt=image.alt width=width height=height %}
    </div>
   {% endfor %}
  </div>
{% endfor %}
</div>

<div class="lg:w-6/12 md:mx-auto px-8 lg:pl-0 py-4 xl:py-8">

  <div class="flex flex-wrap justify-between">
    {% if prevurl %}
    <div class="w-full {% if next and next.url %} md:w-auto {% endif %} px-1 pb-4 md:pb-0">
      <span class="meta block mb-0">Previous</span>

      <a class="font-display text-2xl lg:text-4xl link--pretty" href="{{ prevurl }}">{{ prevtitle }}</a>
    </div>
    {% endif %}

    {% if nexturl %}
    <div class="w-full {% if prev and prevurl %} md:w-auto {% endif %} px-1 text-right">
      <span class="meta block mb-0">Next</span>

      <a class="font-display text-2xl lg:text-4xl link--pretty" href="{{ nexturl }}">{{ nexttitle }}</a>
      </ul>
    </div>
    {% endif %}
  </div>
</div>