---
layout: default
---

{% assign image_group = site.data.images[page.slug] %}

{% case page.slug %}
  {% when "skye-hebrides", "south-highlands", "west-coast" %}
     {% assign location_slug = "scotland" %}
  {% else %}
     {% assign location_slug = page.slug %}
{% endcase %}



{% assign more = site.photography | where_exp:"post","post.url != page.url and post.slug != 'jericho'"  | sample: 3 %}

<div class="pt-10 md:pt-0">
  <div class="w-full ml-auto flex flex-wrap md:h-screen mb-12 md:mb-24">

    <div class="block px-8 md:hidden pb-2 fade-up">
      <span class="font-display text-4xl md:text-6xl lg:text-7xl mb-0 pb-0">{{ page.title }}</span>
    </div>

    <div class="w-full md:w-7/12 h-full flex flex-wrap relative order-2 md:order-1 mt-12 md:mt-0 px-8 md:px-0">
      <div class="w-full md:w-7/12 ml-auto self-center md:pr-14 lg:pr-28">
        <div class="overflow-hidden">
          <h2 class="meta text-slide-down">Info</h2>
        </div>
        <p class="fade-down mb-0">{{ page.intro }}</p>
      </div>

      <div class="hidden md:block md:fixed z-10 bottom-0 left-0 pb-0 md:p-12 lg:p-16">
        <div class="overflow-hidden">
          <h1 class="font-display text-4xl md:text-6xl lg:text-7xl mb-0 pb-8 leading-tight text-slide-up">{{ page.title }}</h1>
        </div>
      </div>

    </div>

    <div class="w-full md:w-5/12 h-auto md:h-full relative order-1 md:order-2 fade-static">
      <p class="text-lg md:text-xl lg:text-2xl uppercase font-sans tracking-widest upright absolute top-0  right-0 mt-6 z-10 mr-3 fade-static anim-delay-400{% if page.metacolor == 'white' %} text-white{% endif %}">{{ page.region }} &bull; {{ page.year }}</p>

      <div class="w-full h-full {% if page.hero.location %}image-loc{% endif %}">
      {% include image.html url=page.hero.url alt=page.hero.alt classes=" w-full md:h-full md:object-cover" hero="true" width=600 height=900 %}
        {% if page.hero.location %}
          <a href="/locations/{{ location_slug }}?l={{ page.hero.location }}" class="b-white image-loc__icon image-loc__icon--hero">
            <img src="/assets/images/icons/pin.svg" class="w-4" role="presentation" width="16" height="16">
            <span class="sr-only">Where is this?</span>
          </a>
        {% endif %}
      </div>
    </div>

  </div>
</div>

<div class="md:w-9/12 md:ml-auto md:pb-24 md:pl-8 md:pr-0 md:mr-0 overflow-hidden flex flex-col gap-1 md:gap-8 xl:gap-16">
  {% for group in image_group %}
    <div class="flex flex-col md:flex-row gap-1 md:gap-8 xl:gap-16">
      {% for image in group.images %}
        {% if group.images.size == 2 %}
          {% capture width %}900{% endcapture %}
          {% capture height %}600{% endcapture %}
        {% else %}
          {% capture width %}600{% endcapture %}
          {% capture height %}900{% endcapture %}
        {% endif %}
        <div class="w-full {% if image.location %}image-loc{% endif %}" id="{{ image.url | replace: '.jpg', '' }}">
          {% include image.html url=image.url alt=image.alt classes=" w-full md:h-full md:object-cover" width=width height=height %}
        {% if image.location %}
        <a href="/locations/{{ location_slug }}?l={{ image.location }}" class="b-white image-loc__icon">
        <img src="/assets/images/icons/pin.svg" width="16" height="16" class="w-4" role="presentation">
        <span class="sr-only">Where is this?</span>
        </a>
        {% endif %}
        </div>
        {% endfor %}
        </div>
        {% endfor %}

  <div class="p-8 md:pt-0 md:pb-12 lg:pb-32">
    {% if page.cta %}
      <a class="font-display text-2xl lg:text-4xl link--pretty" href="{{ page.cta.url }}">{{ page.cta.text }}</a>
    {% else %}

      <span class="meta block mb-2 md:mb-0">Other Locations</span>

      <ul class="w-full xl:w-auto flex flex-wrap gap-5">
        {% for item in more %}
          <li><a class="font-display text-2xl lg:text-4xl link--pretty" href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>